.background{
    background-color: paleturquoise;
    height: auto;
    width: 100%;
}

.team-logo img{
    height: auto;
    width:100%;
}

.description{
    color : blue;
    margin-top: 30px;
    box-sizing: border-box;
}

.content {
    color : black;
    font-size : 16px;
}

.team-details{
    margin-top: 5px;
    margin-bottom: 50px;
    padding-bottom : 15px;
    padding-left: 50px;
    border-radius: 10px;
    background-color : gainsboro;
    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2);
}

.social-icons{
    text-align: center;
    margin-top: 50px;
}

.social-icons a{
    font-size: 40px;
    margin-right: 15px;
    color : #000;
}

.picture{
    margin-top: 10px;
}

.picture img{
    width: 100%;
    height: auto;
    
}

